.transparent-table-view .column-header,
.transparent-table-view .column-header-background .filler {
    -fx-background-color:  #0000FF;
}

.transparent-table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: 900;
    -fx-alignment: CENTER;
}

.transparent-table-view .cell {
    -fx-cell-size: 20;
    -fx-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: #FFD700;
    -fx-text-fill: lightgray;
    -fx-font-weight: 900;
    -fx-alignment: CENTER;
}

.transparent-table-view .table-row-cell:selected {
    -fx-background-color: whitesmoke;
    -fx-text-background-color:  #6622CC;
}
